.intro{
    width: 100%;
    height: 42vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Rubik;
}


.main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.left{
    flex:1.1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    height:100%;
}

.headline{
    flex: 4.5;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-left: 7vw;
    line-height: 1.1;
}

.introButtons{
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding-left: 7vw;
}
.Navbutton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Navbutton:nth-of-type(2){
    margin-left: 1.5vw;
}


.downloadResume{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 3vw;
    border-radius: 2vw;
    background-color: black;
    color: white;
    border: 2px solid white;
    font-size: 1.1vw;
    font-family: quicksand;
    font-weight: 700;
    cursor: pointer;
}

.downloadIcon{
    background: transparent;
    width: 1.1vw;
    height: 1.1vw;
    margin-right: 1vw;
}

.downloadResume:hover{
    cursor: none;
    background-color: #cceeff;
    color: black;
    border: 2px solid black;

    .resume{
        color: black;
        background-color: #cceeff;
    }

    .downloadIcon{
        filter: invert(100%);
    }

    .contact{
        color: black;
        background-color: #cceeff;
    }

   
}


.name{
    font-size: 7vw;
    color: white;
    font-weight: 500;
    background: -webkit-linear-gradient(0deg, #feed8a, #fd9fd9, #a849fb, #c6eafc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  animation: moveGradient 5s ease infinite;
}

.headline:hover{
    cursor: none;
}

@keyframes moveGradient {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 0;
    }
}

.details{
    font-size: 2vw;
    color: white;
    margin-top: 2vw;
    margin-left: 0.5vw;
}


.detail{
    margin-bottom: 0.7vw;
}

u{
    font-weight: 500;
    text-underline-offset: 5px;
    text-decoration-color: #992ff6;
}

.right{
    flex:1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.top{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.center{
    flex: 1;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}




.squaresA{
    width: 32vw;
    height: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.squaresB{
    width: 32vw;
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.image{
    width: 25vw;
    height: 27vw;
    object-fit: cover;
    border-radius: 10%;
}

.square1{
    width: 2.8vw;
    height: 2.8vw;
    border-radius: 0.7vw;
    background: -webkit-linear-gradient(90deg, #96d9fb, #fd9fd9);
}
.square2{
    width: 2.8vw;
    height: 2.8vw;
    border-radius: 0.7vw;
    background: -webkit-linear-gradient(90deg, #feed8a , #a849fb);

}
.square3{
    width: 2.8vw;
    height: 2.8vw;
    border-radius: 0.7vw;
    background: -webkit-linear-gradient(90deg, #a849fb, #96d9fb);
}
.square4{
    width: 2.8vw;
    height: 2.8vw;
    border-radius: 0.7vw;
    background: -webkit-linear-gradient(90deg, #fd9fd9, #feed8a);

}

.image:hover, .square1:hover, .square2:hover, .square3:hover, .square4:hover{
    cursor: none;
}


@media (max-width: 1100px) {
    .intro{
        height: 140vw;
    }
    .main{
        flex-direction: column;
    }
    .left{
        flex: 1;
        width: 100%;
    }
    .headline{
        flex: 4;
        align-items: center;
        padding-left: 0;
    }
    .name{
        font-size: 13vw;
        text-align: center;
    }
    .details{
        margin-top: 5vw;
        font-size: 4vw;
        text-align: center;
    }
    .introButtons{
        flex: 1;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }
    .Navbutton:nth-of-type(2){
        margin-left: 3vw;
    }

    .downloadResume{
        width: 17vw;
        height: 5.5vw;
        border-radius: 5vw;
        font-size: 2vw;
    }

    .downloadIcon{
        width: 1.8vw;
        height: 1.8vw;
        margin-right: 1.5vw;
    }

    .right{
        flex: 1;
        padding-right: 0;
    }
    .image{
        width: 35vw;
        height: 35vw;
        margin-left: 1vw;
    }

    .squaresA, .squaresB{
        width: 50vw;
    }

    .square1, .square2, .square3, .square4{
        width: 5vw;
        height: 5vw;
        border-radius: 1vw;
    }
}

@media (max-width:600px){

    .intro{
        height: 180vw
    }

    .name{
        font-size: 15vw;
        text-align: center;
    }
    .details{
        margin-top: 5vw;
        font-size: 5vw;
        text-align: center;
    }
    .headline{
        flex: 5;
    }

    .image{
        width: 45vw;
        height: 45vw;
    }
    .squaresA, .squaresB{
        width: 60vw;
    }
    .square1, .square2, .square3, .square4{
        width: 7vw;
        height: 7vw;
        border-radius: 1.5vw;
    }

    .downloadResume{
        width: 25vw;
        height: 8vw;
        font-size: 3vw;
    }

    .downloadIcon{
        width: 2.2vw;
        height: 2.2vw;
        margin-right: 2vw;
    }
}